:root  {

/* COLOUR VARIABLES START */
--page-bg-colour: white;

--main-bg-colour: #00A779;
--secondary-bg-colour: #FFC364;

--main-bg-text-colour: white;
--secondary-bg-text-colour: black;

--page-bg: #F2F2F2;
--article-bg: #E5DBDB;

--article-headline-colour: black;
--article-text-colour: black;
--nav-text-colour: black;

--site-search-button-bg: #FF9C64;
--site-search-button-text-colour: black;
--site-search-placeholder-text-colour: #707070;
/* COLOUR VARIABLES END */

/* SPACING VARIABLES START */
--page-width: 100%;
--max-page-width: 1920px;

--content-width: 910px;

/* SPACING VARIABLES END */

/* SITE SIZE VARIABLES START */
--site-body-width: 958px;
--site-body-padding: 24px;

--nav-line-height: 33px;

--header-height: 90px;
--footer-height: 201px;

--hero-height: 282px;
/* SITE SIZE VARIABLES END */

/* FONT SIZE VARIABLES START */
--largest-size: 48px;
--second-largest-size: 40px;
--third-largest-size: 32px;
--smallest-size: 18px;

/* FONT SIZE VARIABLES END */
}

body  {
    margin: 0;
    padding: 0;
    background-color: var(--page-bg-colour);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header  {
    width: var(--page-width);
    max-width: var(--max-page-width);
    height: var(--header-height);
    background-color: var(--main-bg-colour);
    color: var(--main-bg-text-colour);
    font-weight: bold;
}

.site-title  {
    font-size: var(--largest-size);
}

.site-width  {
    width: var(--site-body-width);
    margin: auto;
}

nav  {
    background-color: var(--secondary-bg-colour);
    color: var(--nav-text-colour);
    width: var(--page-width);
    max-width: var(--max-page-width);
    line-height: var(--nav-line-height);
    color: var(--nav-text-colour);
    position: relative;

}

main  {
    width: var(--page-width);
    max-width: var(--site-body-width);
    background-color: var(--page-bg);
    margin: auto;
    padding: var(--site-body-padding);
}

.site-hero  {
    height: var(--hero-height);
    width: 100%;
    background-color: var(--article-bg);
}

footer  {
    width: var(--page-width);
    max-width: var(--max-page-width);
    background-color: var(--main-bg-colour);
    color: var(--main-bg-text-colour);
    height: var(--footer-height);
    font-weight: bold;
}

.bottom-nav-bar  {
    display: flex;
    width: var(--content-width);
}

.bottom-nav-links  {
    width: 66%;
    max-width: 600px;
}

.site-title  {
    width: 100%;
}

.site-links ul  {
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-nav-search  {
    display: flex;
    width: 34%;
}

footer .site-slogan, footer .site-search  {
    width: 100%;
}

.page-width  {
    background-color: var(--main-bg-colour);
    color: white;
}

.page-background  {
    background-color: var(--page-bg);
}

.article-background  {
    background-color: var(--article-bg);
}

.site-search button  {
    background-color: var(--site-search-button-bg);
    color: black;
}

.site-search input  {
    color: #707070;
}
